In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuatapere,NZ,2021-10-23 18:36:23,-46.1333,167.6833,50.86,96,100,1.54
1,1,Hilo,US,2021-10-23 18:33:06,19.7297,-155.0900,74.25,96,90,5.75
2,2,Rikitea,PF,2021-10-23 18:36:24,-23.1203,-134.9692,74.77,82,96,20.58
3,3,Busselton,AU,2021-10-23 18:36:24,-33.6500,115.3333,52.09,79,100,5.64
4,4,Hermanus,ZA,2021-10-23 18:36:24,-34.4187,19.2345,57.90,70,7,5.91

In [12]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hobyo,SO,2021-10-23 18:36:25,5.3505,48.5268,79.61,79,37,11.79
15,15,Saint George,US,2021-10-23 18:36:28,37.1041,-113.5841,75.63,23,1,1.01
16,16,Sao Filipe,CV,2021-10-23 18:36:28,14.8961,-24.4956,80.06,68,3,6.91
18,18,Kapaa,US,2021-10-23 18:36:28,22.0752,-159.3190,78.78,87,75,12.66
20,20,Arraial Do Cabo,BR,2021-10-23 18:36:29,-22.9661,-42.0278,78.76,73,0,25.32
26,26,Marietta,US,2021-10-23 18:33:31,33.9526,-84.5499,75.29,45,1,4.61
28,28,Karratha,AU,2021-10-23 18:36:32,-20.7377,116.8463,79.43,40,77,5.37
32,32,Faanui,PF,2021-10-23 18:36:33,-16.4833,-151.7500,78.12,73,100,3.87
40,40,Samana,DO,2021-10-23 18:36:36,19.2056,-69.3369,89.56,64,4,10.00
41,41,Lorengau,PG,2021-10-23 18:36:37,-2.0226,147.2712,80.65,82,43,9.48

In [29]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
preferred_cities_df.notnull().sum()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5             Hobyo      SO     79.61   5.3505   48.5268
15     Saint George      US     75.63  37.1041 -113.5841
16       Sao Filipe      CV     80.06  14.8961  -24.4956
18            Kapaa      US     78.78  22.0752 -159.3190
20  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
26         Marietta      US     75.29  33.9526  -84.5499
28         Karratha      AU     79.43 -20.7377  116.8463
32           Faanui      PF     78.12 -16.4833 -151.7500
40           Samana      DO     89.56  19.2056  -69.3369
41         Lorengau      PG     80.65  -2.0226  147.2712

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hobyo,SO,79.61,5.3505,48.5268,Halane Hotel and Restaurent
15,Saint George,US,75.63,37.1041,-113.5841,Best Western Plus Abbey Inn
16,Sao Filipe,CV,80.06,14.8961,-24.4956,Hotel Xaguate
18,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia
26,Marietta,US,75.29,33.9526,-84.5499,Hilton Atlanta/Marietta Hotel & Conference Center
28,Karratha,AU,79.43,-20.7377,116.8463,ibis Styles Karratha
32,Faanui,PF,78.12,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
40,Samana,DO,89.56,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
41,Lorengau,PG,80.65,-2.0226,147.2712,Lorengau Harbourside Hotel

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))